<div>
    <div data-field="container">
        <div data-field="renderer"></div>
        <div data-field="footer"></div>
    </div>
    <hr/>
    <h5>Fill task details and press start to load the task form:</h5>
    <p class="text-muted">Temporary solution while there's no task list component!</p>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <label for="serverTemplateId">serverTemplateId</label>
                    <input type="text" id="serverTemplateId" data-field="serverTemplateId" class="form-control">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="domainId">domainId</label>
                    <input type="text" id="domainId" data-field="domainId" class="form-control">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <label for="taskId">taskId</label>
                    <input type="text" id="taskId" data-field="taskId" class="form-control">
                </div>
            </td>
        </tr>
    </table>
    <button data-field="start">start!</button>
</div>